:root {
    --rlm_gold_lightest: #ffdda0;
    --rlm_gold_light: #ffb347;
    --rlm_gold_mid: #ff9f45;
    --rlm_gold_dark: #ff8c42;
    --rlm_gold_darker: #de6d25;
    --rlm_gold_darkest: #a85926;
    --usual_gray: #333;
    --light_gray: #f0f0f0;
    --usual_white: white;
    --usual_cream: #fde8e8;
    --lighten_color_alpha: rgba(255, 255, 255, 0.2);
    --darken_color_alpha: rgba(0, 0, 0, 0.2);
    --gray_table_line_hover: rgba(0, 0, 0, 0.075);
    --info_color: #2196f3;
    --info_light_color: #a7d7f9;
    --info_background_color: rgba(80, 160, 240, 0.2);
    --danger_color: #c81e1e;
    --danger_light_color: #f8b4b4;
    --danger_background_color: rgba(200, 80, 80, 0.2);
    --success_color: #2e7d32;
    --success_light_color: #a5d6a7;
    --success_background_color: rgba(80, 200, 80, 0.2);
    --default_link_color: #2196f3;
    --default_link_hover_color: #1976d2;
    --muted_color: #999;

    --page_background: var(--usual_white);
    --global_text_color: var(--usual_gray);
    --header_background_from: var(--rlm_gold_darker);
    --header_background_to: var(--rlm_gold_darkest);
    --header_dropdown_menu_background: var(--usual_white);
    --header_login_button_background: var(--usual_white);
    --header_login_button_border_color: var(--usual_white);
    --header_login_button_text_color: var(--rlm_gold_darker);
    --header_login_button_text_color_hover: var(--usual_white);
    --header_text_color: var(--usual_white);
    --header_burger_icon_color: var(--usual_white);
    --button_hover_color: var(--darken_color_alpha);
    --alert_info_text_color: var(--info_color);
    --alert_info_background_color: var(--info_background_color);
    --alert_info_outline_color: var(--info_light_color);
    --alert_success_text_color: var(--success_color);
    --alert_success_background_color: var(--success_background_color);
    --alert_success_outline_color: var(--success_light_color);
    --alert_danger_text_color: var(--danger_color);
    --alert_danger_background_color: var(--danger_background_color);
    --alert_danger_outline_color: var(--danger_light_color);
    --default_hyperlink_color: var(--default_link_color);
    --default_hyperlink_color_hover: var(--default_link_hover_color);
    --table_line_hover_color: var(--gray_table_line_hover);
    --text_muted_color: var(--muted_color)
}
