.panel-form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.panel-form-label {
    font-weight: 600;
    color: var(--usual_gray);
    font-size: 0.9rem;
}

.panel-form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

