.text-input {
    padding: 0.8rem;
    border: 1px solid var(--usual_cream);
    border-radius: 6px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.text-input:focus {
    outline: none;
    border-color: var(--rlm_gold_dark);
    box-shadow: 0 0 0 3px var(--rlm_gold_lightest);
}
