:root {
    --page_background: white;
    --header_background: skyblue;
}

body {
    background-color: var(--page_background);
    margin: 0;
}

header {
    background-color: var(--header_background);
}

main {
    margin: 1em;
}
