@import "variables/colors.css";
@import "css/header.css";
@import "css/forms/_forms.css";
@import "css/forms/button.css";
@import "css/forms/text_inputs.css";
@import "css/containers/alerts.css";
@import "css/containers/defaults.css";
@import "css/texts.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: var(--page_background);
    color: var(--global_text_color);
}

main {
    padding: 2rem;
}
