<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header class="header-main">
            <nav class="header-container">
                <div class="header-logo-wrapper">
                    <img src="/images/logo/prlm-api-full-white.png" alt="Logo PRLM" class="header-logo-img">
                </div>

                <button class="header-mobile-toggle" id="prlmToggle" aria-label="Toggle menu">
                    <span class="header-burger-icon"></span>
                </button>

                <ul class="header-menu" id="prlmMenu">
                    <li class="header-item">
                        <a href="/" class="header-link">Home</a>
                    </li>

                    <li class="header-item header-has-dropdown">
                        <p class="header-link">Manage</p>
                        <ul class="header-dropdown">
                            <li class="header-dropdown-item">
                                <a href="/panel/egg_groups" class="header-dropdown-link">Egg Groups</a>
                            </li>
                            <li class="header-dropdown-item">
                                <a href="/panel/abilities" class="header-dropdown-link">Abilities</a>
                            </li>
                            <li class="header-dropdown-item">
                                <a href="/panel/game_or_region" class="header-dropdown-link">Game or Regions</a>
                            </li>
                            <li class="header-dropdown-item">
                                <a href="/panel/leveling_rate" class="header-dropdown-link">Leveling Rates</a>
                            </li>
                        </ul>
                    </li>

                    <li class="header-item">
                        {% if app.user %}
                            <a href="/logout" class="header-login-btn">Logout</a>
                        {% else %}
                            <a href="/login" class="header-login-btn">Login</a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </header>

        <main>
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
